<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Hello World App</title>
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Skills Tracker</h1>
            <h2>We have a few skills we would like to learn. Here is the list!</h2>
            <ol>
                <li>Cobol</li>
                <li>Java</li>
                <li>JavaScript</li>
            </ol>
            <a href="form" >What about you?</a>
        </div>
    </body>
</html>